.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 0;
    box-shadow: 1px 1px 20px -5px;
}

.ff{
    /* background: black; */
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #dee2e6;
}
.ff:hover{
    text-decoration: none;
    color: #fff;
}